/* admin section */
.wp-admin textarea:focus, .wp-admin input[type="text"]:focus,
.wp-admin input[type="password"]:focus, .wp-admin input[type="file"]:focus,
.wp-admin input[type="button"]:focus, .wp-admin input[type="submit"]:focus,
.wp-admin input[type="reset"]:focus, .wp-admin input[type="email"]:focus,
.wp-admin input[type="number"]:focus, .wp-admin input[type="search"]:focus,
.wp-admin input[type="tel"]:focus, .wp-admin input[type="url"]:focus,
.wp-admin select:focus { /* hilite focused inputs */
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); /* chrome and safari */
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); /* firefox */
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); /* unprefixed property should be the last */
}


/* login section */
.login form .forgetmenot { /* fade-out "remember me" */
    opacity: 0.5;
    -webkit-transition: opacity .3s ease; /* chrome and safari */
    -moz-transition: opacity .3s ease; /* firefox */
    -o-transition: opacity .3s ease; /* opera */
	transition: opacity .3s ease;
}
.login form .forgetmenot:hover {  /* fade-in "remember me" on hover */
    opacity: 1;
}

.login form label {
    font-size: 18px;
    line-height: 1.2em;
}

.login form .input, .login input[type="text"] {
    margin-bottom: 25px;
}

.login form .input:focus, .login input[type="text"]:focus { /* hilite focused inputs */
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); /* chrome and safari */
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); /* firefox */
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); /* unprefixed property should be the last */
}

