/*
Easy to use plugin
http://wordpress.org/plugins/easy-to-use/
*/


/* admin section */
.wp-admin textarea:focus, .wp-admin input[type="text"]:focus,
.wp-admin input[type="password"]:focus, .wp-admin input[type="file"]:focus,
.wp-admin input[type="button"]:focus, .wp-admin input[type="submit"]:focus,
.wp-admin input[type="reset"]:focus, .wp-admin input[type="email"]:focus,
.wp-admin input[type="number"]:focus, .wp-admin input[type="search"]:focus,
.wp-admin input[type="tel"]:focus, .wp-admin input[type="url"]:focus,
.wp-admin select:focus { /* hilite focused inputs */
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6);
	transition: all 0.3s ease;
}


/* login section */
.login form .forgetmenot { /* fade-out "remember me" */
    opacity: 0.5;
	transition: opacity 0.3s ease;
}
.login form .forgetmenot:hover {  /* fade-in "remember me" on hover */
    opacity: 1;
}

.login form .input:focus,
.login input[type="text"]:focus,
.login input[type="password"]:focus { /* hilite focused inputs */
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6);
	transition: all 0.3s ease;
}
